{% extends 'layout.html' %}

{% block title %}Edycja użytkowników{% endblock %}

{% block content %}
<div class="row">
    <form action="" method="post">
        <div class="form-group">
            <ul class="text-danger">
                {% for error in form.login.errors %}
                <li>{{ form.login.label }} {{ error }}</li>
                {% endfor %}

                {% for error in form.mail.errors %}
                <li>{{ form.mail.label }} {{ error }}</li>
                {% endfor %}

                {% for error in form.role.errors %}
                <li>{{ form.role.label }} {{ error }}</li>
                {% endfor %}

                {% for error in form.password.errors %}
                <li>{{ form.password.label }} {{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form.login.label }} {{ form.login(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.mail.label }} {{ form.mail(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.password.label }} {{ form.password(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.role.label }} {{ form.role(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>
{% endblock %}
