{% extends 'admin/layout.html' %}

{% block title %}Sposoby dostawy{% endblock %}

{% block content %}
<table id="shipping-types-list" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Wartość boolowska</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        {% for key, item in shipping_types %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ item.name }}</td>
            <td>
                {% if item.is_boolean %}
                Tak
                {% else %}
                Nie
                {% endif %}
            </td>
            <td><a class="btn btn-primary" href="/admin/shipping/types/edit/{{ item.id }}"><span>Edytuj <i class="glyphicon glyphicon-edit"></i></span></a></td>
            <td><a class="btn btn-danger" href="/admin/shipping/types/delete/{{ item.id }}"><span>Usuń <i class="glyphicon glyphicon-remove"></i></span></a></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6"><a id="add-shipping-type" class="btn btn-success" href="/admin/shipping/types/add"><span>Nowy sposób dostawy <i class="glyphicon glyphicon-plus"></i></span></a></td>
        </tr>
    </tbody>
</table>
{% endblock %}
