{% extends 'layout.html' %}

{% block title %}Rodzaje dostawy{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="form-group">
        <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}

            {% for error in form.is_boolean.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ form.name.label }}{{ form.name(class='form-control', value=shipping_type.name) }}
    </div>

    <div class="checkbox">
        <label for="is_boolean">{{ form.is_boolean(checked=shipping_type.is_boolean) }}Wartość boolowska</label>
    </div>

    <div class="form-group">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>
{% endblock %}
